.venv/
__pycache__/
*.pyc
.pytest_cache/
Code_his/

model/*
!model/.gitkeep
output/*
!output/.gitkeep
temp/*
!temp/.gitkeep

Data/train.csv
Data/test.csv
Data/stock_data.csv
Data/hs300_stock_list.csv

experiments/*/model.joblib
experiments/*/*.joblib
